p{
  color: darkblue;
  font-size: 40px;
}
li.subitem{
  color: darkred;
  font-size: 20px;
}
a{
  text-decoration: none;
}
/*input[type=text],input[type=email]{*/
/*  background-color: darkblue;*/
/*}*/
table,tr,td{
border: black 1px solid;
  border-collapse: collapse;
  direction: rtl;
}
td:hover{
  background-color: blue;
}
td{
  padding: 10px;
}
